<div style="padding-left:20px; padding-right:20px">
    <div class="bs-docs-section">
     <h3>List of all the Members</h3>
     <a class="btn btn-primary" ng-href="#/registerMember">Add</a>
      <br/><br/>
	   <alert ng-show=$member.showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
		<table ng-init="listMembers()" class="table table-striped table-hover">  
	        <thead>  
	          <tr>
	            <th>First Name</th>  
	            <th>Last Name</th>
	            <th>Email</th>
	          </tr>  
	        </thead>  
	        <tbody ng-repeat="member in memberList">  
	          <tr>  
	            <td>{{member.firstName}} </td>  
	            <td>{{member.lastName}}</td>  
	            <td>{{member.email}}</td>
	          </tr>  
	        </tbody>  
	      </table>  
    </div>
</div>
