<div style="padding-left:20px; padding-right:20px">
    <div class="container" >
        <h4>Edit Member</h4>
		<alert ng-show=$parent.showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
		<button type="submit" class="btn btn-primary" ng-click="createMember(member)">New</button>
        <hr/>
        <div ng-init="memberDetail()" />
        <form name="memberForm">
            <fieldset>
                <label for="firstName">Name:</label>
                <input id="firstName" type="text" required placeholder="First Name" ng-model="member.firstName" />
                <input id="lastName" type="text" required placeholder="Last Name" ng-model="member.lastName" />
                <label for="email">Email:</label>
                <input id="email" type="text" required placeholder="Email" ng-model="member.email" />          
                <label for="visitLocation">Location:</label>
                <input id="address" type="text"  placeholder="Address" ng-model="member.address" />
                <br/>
                <input id="suburb" type="text"  class="input-small" placeholder="Suburb" ng-model="member.suburb" />
            </fieldset>

            <br/>

            <button id="save-member-button" type="submit" class="btn btn-primary"  ng-click="saveMember(member, memberForm)">Save</button>
            <button id="delete-member-button" type="button" class="btn btn-default" ng-click="deleteMember()">Delete</button>

        </form>
    </div>   
</div>
