<div style="padding-left:20px; padding-right:20px">
    <div class="container" >
        <h4>List Members</h4>
        <hr/>
	    <alert ng-show=$member.showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
		<table ng-init="listMembers()" class="table">  
	        <thead>  
	          <tr>
	            <th>First Name</th>  
	            <th>Last Name</th>
	            <th>Email</th>
	          </tr>  
	        </thead>  
	        <tbody ng-repeat="member in memberList">  
	          <tr>  
	            <td>{{member.firstName}} </td>  
	            <td>{{member.lastName}}</td>  
	            <td>{{member.email}}</td>
	          </tr>  
	        </tbody>  
	      </table>  
    </div>
</div>
