/* app css stylesheet */

.nomargin{
  margin: 0;
}

.absolutecenterh {
  margin: auto;
  position: absolute;
  left: 0; right: 0;
}

.z100{
  z-index:100;
}

.form-multiline .form-control {
  margin-bottom: 5px;
}

.alertbox.ng-enter,
.alertbox.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.alertbox.ng-enter,
.alertbox.ng-leave.ng-leave-active {
  opacity:0;
}
.alertbox.ng-leave,
.alertbox.ng-enter.ng-enter-active {
  opacity:1;
}
