<fieldset ng-switch="{{readonly}}">
  <div ng-switch-when="true" class="form-group form-multiline">
    <label for="{{id}}-line1" class="col-sm-2 control-label" ng-show="{{required}} || $parent.model.line1">{{label}}</label>
    <div class="col-sm-10" ng-show="{{required}} || $parent.model.line1">
      <p class="form-control-static" id="{{id}}-line1">{{$parent.model.line1}}&nbsp;</p>
    </div>
    <label for="{{id}}-line2" class="col-sm-2 control-label" ng-show="$parent.model.line2">&nbsp;</label>
    <div class="col-sm-10" ng-show="$parent.model.line2">
      <p class="form-control-static" id="{{id}}-line2">{{$parent.model.line2}}</p>
    </div>
    <label for="{{id}}-suburb" class="col-sm-2 control-label" ng-show="{{required}} || $parent.model.suburb || $parent.model.state || $parent.model.postcode">&nbsp;</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="{{id}}-suburb" ng-show="{{required}} || $parent.model.suburb || $parent.model.state || $parent.model.postcode">{{$parent.model.suburb}},&nbsp;{{$parent.model.state}}&nbsp;{{$parent.model.postcode}}</p>
    </div>
  </div>

  <div ng-switch-when="false" class="form-group form-multiline">
    <label for="{{id}}-line1" class="col-sm-2 control-label">
      <span ng-show="{{required}}"><sup><small><i class='fa fa-asterisk'></i></small></sup></span>&nbsp;{{label}}
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{id}}-line1" name="{{id}}-line1" ng-required="{{required}}" placeholder="Address" ng-model="$parent.model.line1" />
    </div>
    <label for="{{id}}-line2" class="col-sm-2 control-label">&nbsp;</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{id}}-line2" name="{{id}}-line2" placeholder="" ng-model="$parent.model.line2" />
    </div>
    <label for="{{id}}-suburb" class="col-sm-2 control-label">&nbsp;</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="{{id}}-suburb" name="{{id}}-suburb" ng-required="{{required}}" placeholder="Suburb"  ng-model="$parent.model.suburb" />
    </div>
    <div class="col-sm-3">
      <select class="form-control" id="{{id}}-state" name="{{id}}-state" placeholder="State" ng-required="{{required}}" ng-model="$parent.model.state" ng-options="state.id as state.label for state in postalStates"></select>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="{{id}}-postcode" name="{{id}}-postcode" ng-required="{{required}}" placeholder="Post Code" ng-model="$parent.model.postcode" />
    </div>
  </div>
  
  <div ng-switch-default class="form-group form-multiline">
    Sorry, an error occurred.
  </div>
</fieldset>